
[bind:children]
masters
slaves

[bind:vars]
zone=dns.example.com
masters=['ns-master']
forwarders=['4.2.2.1', '4.2.2.2', '4.2.2.3']
contact=admin@example.com
update_key=""
nameservers=[
  {'name': 'ns-master', 'address': '192.168.1.1'},
  {'name': 'ns0', 'address': '192.168.1.10'},
  {'name': 'ns1', 'address': '192.168.1.11'},
  {'name': 'ns2', 'address': '192.168.1.12'},
]

[masters]
192.168.1.1

[slaves]
192.168.1.10
192.168.1.11
192.168.1.12